 p{
    color: #2A2A2A;
     
}

h1, h2, h3, h4, h5 {
/*    color: #E1281A;*/
    font-family: 'Poppins', sans-serif;

}


header h1, header h2{
    display:inline;
}

header h2{
        font-size: 60px;
    margin: 0px;
    display: inline;
    position: relative;
    bottom: -30px;
    left: -35px;
    color: #999 !important;
}

#topLogo{
    height: 50px;
}

h1{
    font-size: 50px;
    color: #2A2A2A;
}

html{
    padding-top: 0px;
    min-width: 1500px;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: white;
    min-width: 1500px;
}
header #topLogo{
    width: 120px; 
    height: 120px;
    float:left;
        position: relative;
    bottom: -3px;
    
}

header h1{
    font-size: 80px;
    margin: 0px;
    display: inline;
    position: relative;
    bottom: -30px;
    left: -35px;
    
}

header{
    margin-top: 30px;
    margin-left: 30px;
    border-bottom: #E1281A 10px solid;
    padding-bottom: 0px;
}

.btn{
    border:none;
    padding: 10px;
    font-size: 20px;
    margin-top: 10px;
    height: 100px;
    color: white;
}