/***** FONT THINGS
*/
h1, h2, h3, h4, h5, a {
    font-family: 'Josefin Sans', sans-serif;
}

a{
color:black;
font-size: 20px;
text-decoration: none
    
}


p {
    padding-left: 10px;
    font-family: 'Esteban', sans-serif;
    color: #303030;
}    


/***** LAYOUT THINGS
*/

h2 {
padding-left: 10px;
font-weight: 500;
font-size: 160%;
text-align: center;
padding-right: 40px;
}

h1 {
    text-align: right;
    padding-right: 15%;
    font-size: 300%;
    margin: 20px;
    font-weight: 800;
} 


    
#main {
    float: left;
    height:100%;
    width: 100%;
    background-color: #CCCCFF;
    border: 10px double #ffffff;
    min-width: 650px;
    padding: 7px;
}    



.portfolioEntry{
    margin-bottom:30px;
    margin-top: 15px;
}

.portimg {
    border: 7px double white;   
    height: 160px;
}

.portfolioEntry p {
    padding-right: 10px;
    float:left;
    width: 60%;
    text-align: right;
    padding-left: 10px;
}

.portfolioEntry img {
    float: right;
    margin-right: 15px;  
}   


#space{
    height:50%;
}


section {
    
    overflow:auto;
    
}

/***** hoverhoverhover
*/

a:hover {
    color: white;
}
