/***** FONT THINGS
*/
h1, h2, h3, h4, h5, a {
    font-family: 'Josefin Sans', sans-serif;
}

a{
color:black;
text-decoration: none;
display:inline;  
}


p {
    padding-left: 10px;
    font-family: 'Esteban', sans-serif;
    color: #303030;
    margin-top: 0em;
    margin-bottom: 0em;
}    


/***** LAYOUT THINGS
*/

h2 {
    padding-left: 10px;
    font-weight: 500;
    font-size: 160%;
    text-align: left;
    padding-right: 40px;
    display: inline;
}

h1 {
    text-align: left;
    font-size: 300%;
    margin-top: 20px;
    margin-left: 5%;
    font-weight: 800;
    display: inline;
} 


html {
    height: 100%;
   align-content: right;
}

body {
    height: 100%;
    max-width: 1250px;
    min-width: 1100px;
}
    
#main {
}    

.portfolioEntry{
    margin-left: 5%;
    width: 42.5%;
    float: left;
    margin-bottom: 3em;
}

.portfolioEntry h3{
    color: purple;
    text-align: left;
    font-size: 25px;
    margin-top: 0px;
    border-bottom: 7px solid black;
    display: block;
    margin-left: 10px;
}


.portfolioEntry p {
    padding-right: 10px;
    text-align: left;
    text-indent: 2em;
}



.portfolioEntry img {
    border: 7px solid white;   
    height: 160px;
    display: inline;
    float: left;
    margin-right: 15px;  
}   


#space{
    height:50%;
}


section {   
    overflow:auto;
}

.portfolioEntry::after {
    content: "";
    clear: both;
    display: table;
}

#main::after {
    content: "";
    clear: both;
    display: table;
}

#header {
    margin-top: 3em;
    margin-bottom: 3em;
}

/***** hoverhoverhover
*/

a:hover {
    color: white;
}
