@font-face {
  font-family: 'Esteban';
  font-style: normal;
  font-weight: 400;
  src: local('Esteban'), url(http://themes.googleusercontent.com/static/fonts/esteban/v2/EKgJCyB1J9KPP5TdWd2GGw.woff) format('woff');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans'), local('JosefinSans'), url(http://themes.googleusercontent.com/static/fonts/josefinsans/v4/xgzbb53t8j-Mo-vYa23n5nhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Sans Bold'), local('JosefinSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/josefinsans/v4/C6HYlRF50SGJq1XyXj04z3l4twXkwp3_u9ZoePkT564.woff) format('woff');
}
