a h3, a p{
    text-decoration: none !important;
    color: white !important;
}

a{
    text-decoration: none;
    text-align: center;
}

a .btn{
    margin: 30px;
    padding: 30px;
    height: 400px !important;
    width: 400px !important;
}

#room .btn{
    background-color: #2A2A2A;
    transition: .2s;
}

#time .btn{
    background-color: #2A2A2A;
    transition: .2s;
}

.btn:hover{
    background-color: #E1281A !important;
    transition: .2s;
}